@use "global" as *;

.p-service {
    padding-top: rem(60);
    padding-bottom: rem(84);
}

.p-service__inner {
}

.p-service__items {
}

.p-service__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(24);
}
.p-service__item::before {
    position: absolute;
    content: "";
    background-image: url(../images/shape/shape15.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(326);
    height: rem(316);
    top: rem(-35);
    right: rem(-67);
    z-index: -1;
}
.p-service__item:not(:first-child) {
    margin-top: rem(70);
}

.p-service__img.--border {
    border-radius: rem(20);
    overflow: hidden;
}

.p-service__content {
    position: relative;
}

.p-service__num {
    position: absolute;
    opacity: 0.1;
    font-family: $en-font-family;
    font-size: rem(70);
    line-height: 1;
    letter-spacing: 0.1em;
    top: rem(-6);
    right: rem(-14);
}

.p-service__subTitle {
    color: $pink;
    font-family: $en-font-family;
    font-size: rem(15);
    line-height: 1;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}
.p-service__subTitle::before {
    content: "";
    flex-shrink: 0;
    width: rem(6);
    height: rem(6);
    margin-right: rem(10);
    border-radius: 50%;
    background: $pink;
}

.p-service__title {
    margin-top: rem(6);
    font-family: $second-font-family;
    font-size: rem(26);
    letter-spacing: 0.1em;
    font-weight: $semi-bold;
}

.p-service__text {
    margin-top: rem(14);
    font-size: rem(14);
    line-height: calc(56 / 28);
    letter-spacing: 0.07em;
}

.p-service__btn {
    margin-top: rem(23);
}
.p-service__box {
    margin-top: rem(25);
    border: 1px solid #d4d5db;
    border-radius: rem(7);
    padding: rem(10) rem(9);
}
.p-service__boxList {
}
.p-service__boxItem {
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: 1.7;
}
.p-service__boxItem::before {
    content: "・";
    font-size: rem(18);
    color: $pink;
    line-height: 1;
}
.p-service__media {
    background: $gray;
    border-radius: rem(10);
    padding: rem(15);
    margin-top: rem(27);
    display: flex;
    flex-direction: column;
    gap: rem(15);
    @include mq("md") {
        margin-top: rem(18);
        gap: rem(10);
        align-items: center;
    }
}

.p-service__media-item {
    flex: 1;
}

.p-service__media-item a {
    display: block;
    overflow: hidden;
    border-radius: rem(7);
    @include mq("md") {
        height: rem(70);
        width: 100%;
        border-radius: rem(10);
    }
}

.p-service__media-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 570/140;
}

.p-service__item:nth-child(2n) {
    &::before {
        background-image: url(../images/shape/shape16.svg);
        width: rem(300);
        height: rem(273);
        top: rem(-20);
        left: rem(-90);
        right: auto;
    }
}
